<!DOCTYPE html>
<html lang="en">    
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style.css" type="text/css">
    </head>
	<body>
		<div class="container" id="inputDiv">
			<div class="row">
				<div class="card">
					<div class="card-header">
						<h3>Fixed Point Iteration Method</h3>
					</div>
					<div class="card-body" id="FixedPointIterationCard">
						<form action="/FixedPointIteration" method="POST">
							<div class="mb-3" style="display: flex; flex-direction: column;">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="FPIFunc" class="form-label">Function</label>
									    <input type="text" class="form-control" id="FPIFunc" name="FPIFunc" value="x^3+2*x+1">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-text">Enter a function to find its roots</div>
                                        <math-field id="MathField">x^3+2*x+1</math-field>
                                    </div>
                                </div>
                                <hr>
								<div style="display: flex;">
                                    <div class="EntryData">
                                        <div id="FPIInitialDiv" class="form-text">Initial guess</div>
                                        <input type="text" class="form-control" id="FPIInitial" name="FPIInitialValue">
                                    </div>
                                    <div class="EntryData">
                                        <div id="FPIToleranceDiv" class="form-text">Tolerance of the method</div>
                                        <input type="text" class="form-control" id="FPITolerance" name="FPITolerance" value="1.E-03">
                                    </div>
                                    <div class="EntryData">
                                        <div id="FPIIterDiv" class="form-text">Maximum number of iterations</div>
                                        <input type="text" class="form-control" id="FPIIter" name="FPIIter" value="100">
                                    </div>
                                </div>
                                <hr>
                                <button id="findroot" type="button" class="btn btn-primary" onclick="fetchData()">Find Root</button>
							</div>
						</form>
						<div class="card-footer text-body-secondary">
							Finds the root of a function using the fixed point method
						</div>
					</div>
				</div>
			</div>
		</div>
        <div class="container" id="resultDiv" style="display: none">
            <div class="card">
                <div class="card-header">
                    <h3>Summary</h3>
                </div>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="text-muted">Function</span>
                            <span class="value" id="fx"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="text-muted">Python Function</span>
                            <span class="value" id="pyfunc"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="text-muted">Initial Guess</span>
                            <span class="value" id="x0"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="text-muted">Tolerance</span>
                            <span class="value" id="tol"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="text-muted">Iteration Limit</span>
                            <span class="value" id="max_iter"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="text-muted">Root</span>
                            <span class="value" id="root"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="text-muted">Iteration Count</span>
                            <span class="value" id="count"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="text-muted">Error</span>
                            <span class="value" id="error"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="text-muted">Condition</span>
                            <span class="value">No</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="text-muted">Final x_prev</span>
                            <span class="value" id="x_prev"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="text-muted">Final x_next</span>
                            <span class="value" id="x_next"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="text-muted">Final F(x_prev)</span>
                            <span class="value" id="f_x_prev"></span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <span class="text-muted">Final F(x_next)</span>
                            <span class="value" id="f_x_next"></span>
                        </li>
                    </ul>
                    <div id="Plot" class="Plot"></div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h3>Iterations</h3>
                </div>
                <div class="card-body" id="Iter_result">
                    <ul class="list-group list-group-flush" style="text-align: center;">
                        <li class="list-group-item">Transform the f(x)=0 ,x=g(x)</li>
                        <li class="list-group-item">Substitute 'xn' for 'x' in the function 'g(x)' and set the result equal to 'x(n+1)'.</li>
                        <li class="list-group-item">Stop if |f(xn)| is less than or equal to the tolerance or
                            |xn - x(n-1)| is less than or equal to the tolerance.</li>
                    </ul>
                    <hr>
                </div>
            </div>
        </div>
		<script src="/static/script.js"></script>
        <script defer src="//unpkg.com/mathlive"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	</body>
</html>